services:
  - type: web
    name: skillnest-backend
    runtime: node
    region: oregon
    plan: free
    rootDir: ./server
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        sync: false
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRE
        sync: false
      - key: ADMIN_SECRET
        sync: false
      - key: CLIENT_ORIGIN
        sync: false
